
/*
    Common
*/
body {
    color: #ffffff;
    background-color: #111111;
    padding: 0px;
    margin: 0px;
}

a, a:visited {
    color: #dddddd;
    transition: color 0.5s;
  }
  a:hover {
    color: #ffffff;
  }
/*
    Header
*/
div#header {
    height: 50px;
    width: 100%;
    border-bottom:1px solid #dddddd;
}

div#header h1 {
    height:50px;
    margin:0px 1em;
    display: inline-block;
}

/*
    Body
*/

div#main {
    margin: 20px auto;
}
div#main div {
    height: 100%;
    padding: 20px;
}

div#content {
    max-width: 720px;
    height: 100%;
    /*width: 90%;*/
    margin: 10px auto;
}

/*
    Footer
*/
div#accounts {
    border-top: 1px #dddddd solid;
}
div#accounts table {
    position:absolute;
    right: 0px;
}
td.icon_margin {
    padding:8px;
}